# Database
MONGODB_URI=mongodb://localhost:27017/lifi_events
# in docker-compose: mongodb://mongo:27017/lifi_events

# Using public rpc urls, for production or heavier load, 
# i will swap these for a paid provider (Alchemy or Infura etc).
POLYGON_RPC_URL=https://polygon.gateway.tenderly.co

# also cold-start Ethereum scan from the configured 
#startBlock likely needs an archive-capable RPC , public nodes may or may not work out
ETHEREUM_RPC_URL=https://ethereum-rpc.publicnode.com

# Optional
LOG_LEVEL=info
PORT=3000
NODE_ENV=development
